[submodule "box2d"]
	path = box2d
	url = https://github.com/erincatto/box2d.git
[submodule "joystick"]
	path = joystick
	url = https://github.com/drewnoakes/joystick.git
[submodule "qt-collapsible-section"]
	path = qt-collapsible-section
	url = https://github.com/Elypson/qt-collapsible-section.git
[submodule "cnl"]
	path = cnl
	url = https://github.com/johnmcfarlane/cnl.git
[submodule "MultiNEAT"]
	path = MultiNEAT
	url = https://github.com/peter-ch/MultiNEAT.git
[submodule "gaga"]
	path = gaga
	url = git@github.com:kgd-al/gaga.git
[submodule "midifile"]
	path = midifile
	url = git@github.com:kgd-al/midifile.git
