[submodule "box2d"]
	path = box2d
	url = https://github.com/erincatto/box2d.git
[submodule "joystick"]
	path = joystick
	url = https://github.com/drewnoakes/joystick.git
[submodule "qt-collapsible-section"]
	path = qt-collapsible-section
	url = https://github.com/Elypson/qt-collapsible-section.git
