===============================================
=================== BOCData ===================
===============================================

  optimalDistanceBounds: (0 0 4 100)
 inbreedToleranceBounds: (0 2 2 10)
outbreedToleranceBounds: (0 2 2 10)
              sexBounds: (F F M M)
          mutationRates: map(std::string, float) {
     "inbreedTolerance": 0.25
      "optimalDistance": 0.25
    "outbreedTolerance": 0.25
                  "sex": 0.25
}
        distanceWeights: map(std::string, float) {
     "inbreedTolerance": 1
      "optimalDistance": 1
    "outbreedTolerance": 1
                  "sex": 1
}
            mutateChild: 0.5

===============================================
