=========================================
================ Critter ================
=========================================

 minClockSpeedBounds: (0.1 1 1 1 0.01)
 maxClockSpeedBounds: (1 1 1 2 0.01)
     matureAgeBounds: (0.25 0.33 0.33 0.5 0.01)
        oldAgeBounds: (0.5 0.66 0.66 0.75 0.01)
       mutationRates: map(std::string, float) {
          "asexual": 0
            "brain": 1
            "cdata": 0
           "colors": 0
        "matureAge": 0
    "maxClockSpeed": 0
    "minClockSpeed": 0
           "oldAge": 0
          "splines": 0
           "vision": 0
}
     distanceWeights: map(std::string, float) {
          "asexual": 0
            "brain": 9
            "cdata": 0
           "colors": 3
        "matureAge": 1
    "maxClockSpeed": 1
    "minClockSpeed": 1
           "oldAge": 1
          "splines": 20
           "vision": 4
}
       configSplines: Spline.config
        configVision: Vision.config
     configCrossover: BOCData.config
         configBrain: EvolvableSubstrate.config
colors_mutationRates: map(std::string, float) {
    "homogeneous": 0.00203666
         "mutate": 0.997963
}
        color_bounds: ([ 0.5 0.5 0.5 ] [ 0.5 0.5 0.5 ] [ 0.5 0.5 0.5 ] [ .5 .5 .5 ] [ 0.01 0.01 0.01 ])

=========================================
