=================================================
==================== Critter ====================
=================================================

     minClockSpeedBounds: (0 0 1 1)
     maxClockSpeedBounds: (1 1 2 2)
         matureAgeBounds: (0.25 0.25 0.5 0.5)
            oldAgeBounds: (0.5 0.5 0.75 0.75)
           mutationRates: map(std::string, float) {
            "cdata": 0.0428571
           "colors": 0.142857
       "dimorphism": 0.128571
        "matureAge": 0.0142857
    "maxClockSpeed": 0.0142857
    "minClockSpeed": 0.0142857
           "oldAge": 0.0142857
          "splines": 0.571429
           "vision": 0.0571429
}
         distanceWeights: map(std::string, float) {
            "cdata": 0
           "colors": 10
       "dimorphism": 9
        "matureAge": 1
    "maxClockSpeed": 1
    "minClockSpeed": 1
           "oldAge": 1
          "splines": 40
           "vision": 4
}
         configCrossover: ./configs/BOCData.config
dimorphism_mutationRates: map(std::string, float) {
    "equal": 0.2
      "mut": 0.7
      "one": 0.05
     "zero": 0.05
}
    colors_mutationRates: map(std::string, float) {
     "homogeneous": 0.002
    "monomorphism": 0.018
          "mutate": 0.98
}
            color_bounds: (0.25 0.25 0.75 0.75)

=================================================
