=================================================
==================== Critter ====================
=================================================

     minClockSpeedBounds: (0.1 1 1 1)
     maxClockSpeedBounds: (1 1 1 2)
         matureAgeBounds: (0.25 0.33 0.33 0.5)
            oldAgeBounds: (0.5 0.66 0.66 0.75)
     brainSubstepsBounds: (1 2 2 2)
           mutationRates: map(std::string, float) {
          "asexual": 0
    "brainSubsteps": 0.000908265
            "cdata": 0.027248
           "colors": 0.0908265
     "connectivity": 0.363306
       "dimorphism": 0.0817439
        "matureAge": 0.00908265
    "maxClockSpeed": 0.00908265
    "minClockSpeed": 0.00908265
           "oldAge": 0.00908265
          "splines": 0.363306
           "vision": 0.0363306
}
         distanceWeights: map(std::string, float) {
          "asexual": 0
    "brainSubsteps": 0.1
            "cdata": 0
           "colors": 10
     "connectivity": 0
       "dimorphism": 9
        "matureAge": 1
    "maxClockSpeed": 1
    "minClockSpeed": 1
           "oldAge": 1
          "splines": 40
           "vision": 4
}
            configVision: ./configs/Vision.config
         configCrossover: ./configs/BOCData.config
             configBrain: ./configs/HyperNEAT.config
dimorphism_mutationRates: map(std::string, float) {
    "equal": 0.2
      "mut": 0.7
      "one": 0.05
     "zero": 0.05
}
    colors_mutationRates: map(std::string, float) {
     "homogeneous": 0.002
    "monomorphism": 0.018
          "mutate": 0.98
}
            color_bounds: (0.25 0.25 0.75 0.75)

=================================================
