======================================
============ ES_HyperNEAT ============
======================================

    substepsBounds: (1 1 2 5 0.01)
     mutationRates: map(std::string, float) {
        "cppn": 0.95
    "substeps": 0.05
}
   distanceWeights: map(std::string, float) {
        "cppn": 95
    "substeps": 5
}
         functions: abs bsgm gaus id sin step 
      weightBounds: (-3 -1 1 3 0.01)
   cppnOutputFuncs: [ bsgm step id ]
          cppnInit: Bimodal
cppn_mutationRates: map(std::string, float) {
    "add_l": 0.0526316
    "add_n": 0.0526316
    "del_l": 0.0263158
    "del_n": 0.0263158
    "mut_f": 0.263158
    "mut_w": 0.578947
}

======================================
