==============================
===== EvolvableSubstrate =====
==============================

         initialDepth: 2
             maxDepth: 4
           iterations: 10
               divThr: 0.4
               varThr: 0.4
               bndThr: 0.21
          weightRange: 3
       activationFunc: ssgn
    neuronsUpperBound: 500
connectionsUpperBound: 10000
configGenotype: ./configs/ES_HyperNEAT.config

==============================
