==============================
===== EvolvableSubstrate =====
==============================

         initialDepth: 2
             maxDepth: 3
           iterations: 10
               divThr: 0.3
               varThr: 0.3
               bndThr: 0.15
          weightRange: 3
       activationFunc: ssgn
    neuronsUpperBound: -1
connectionsUpperBound: -1
configGenotype: ES_HyperNEAT.config

==============================
