==============================
===== EvolvableSubstrate =====
==============================

  initialDepth: 2
      maxDepth: 4
    iterations: 10
        divThr: 0.45
        varThr: 0.45
        bndThr: 0.225
   weightRange: 3
activationFunc: act2
configGenotype: ./configs/ES_HyperNEAT.config

==============================
