=====================================================================
============================= HyperNEAT =============================
=====================================================================

          hiddenNeuronLayersBounds: (0 1 1 2)
          hiddenNeuronVisionBounds: (0 1 1 3)
                     mutationRates: map(std::string, float) {
                  "data": 1
    "hiddenNeuronLayers": 0
    "hiddenNeuronVision": 0
}
                   distanceWeights: map(std::string, float) {
                  "data": 1
    "hiddenNeuronLayers": 1
    "hiddenNeuronVision": 1
}
              splitLoopedRecurrent: false
                    splitRecurrent: false
       activationAMutationMaxPower: 0
       activationBMutationMaxPower: 0
            activationFunction_Abs: 0
         activationFunction_Linear: 1
           activationFunction_Relu: 0
    activationFunction_SignedGauss: 1
  activationFunction_SignedSigmoid: 0
     activationFunction_SignedSine: 0
     activationFunction_SignedStep: 1
       activationFunction_Softplus: 0
           activationFunction_Tanh: 1
      activationFunction_TanhCubic: 0
  activationFunction_UnsignedGauss: 0
activationFunction_UnsignedSigmoid: 0
   activationFunction_UnsignedSine: 0
   activationFunction_UnsignedStep: 0
              biasMutationMaxPower: 0.2
            weightMutationMaxPower: 0.2
      timeConstantMutationMaxPower: 0
                    minActivationA: 0.05
                    maxActivationA: 6
                    minActivationB: 0
                    maxActivationB: 0
                         minWeight: -8
                         maxWeight: 8
                 mutateActivationA: 0
                 mutateActivationB: 0
                     mutateAddLink: 0.08
             mutateAddLinkFromBias: 0
                   mutateAddNeuron: 0.01
        mutateNeuronActivationType: 0.03
                     mutateRemLink: 0.02
             mutateRemSimpleNeuron: 0
                     mutateWeights: 0.9
               mutateWeightsSevere: 0.25
                         recurrent: 0
                     recurrentLoop: 0
                weightMutationRate: 1
         weightReplacementMaxPower: 1
             weightReplacementRate: 0.2
                weightInitialRange: 0.05
                          maxLinks: -1
                        maxNeurons: -1
                       neuronTries: 64
                         linkTries: 64

=====================================================================
