=====================================================
======================= PTree =======================
=====================================================

    compatibilityThreshold: 0.1
       similarityThreshold: 0.5
 avgCompatibilityThreshold: 0.25
                  rsetSize: 5
          simpleNewSpecies: true
   stillbornTrimmingPeriod: 100
stillbornTrimmingThreshold: 0.25
    stillbornTrimmingDelay: 4
 stillbornTrimmingMinDelay: 200

=====================================================
