=====================================================
======================= PTree =======================
=====================================================

    compatibilityThreshold: 0.1
       similarityThreshold: 0.5
 avgCompatibilityThreshold: 0.25
                  rsetSize: 5
          simpleNewSpecies: true
   stillbornTrimmingPeriod: 100
stillbornTrimmingThreshold: 0.25
    stillbornTrimmingDelay: 4
 stillbornTrimmingMinDelay: 200
     DEBUG_FULL_CONTINUOUS: true
            DEBUG_ENV_CRIT: 1
               DEBUG_LEVEL: 0
               DEBUG_PTREE: false
           DEBUG_ENVELOPPE: false
        DEBUG_CONTRIBUTORS: false
          DEBUG_ID2SPECIES: false
          DEBUG_STILLBORNS: false

=====================================================
