==========================================================
======================= Simulation =======================
==========================================================

               configCritter: Critter.config
           configEnvironment: Environment.config
             configPhylogeny: PTree.config
                     logFile: "stats.dat"
               logStatsEvery: 0
                   verbosity: 1
                  emptyColor: [ 0 0 0 ]
               obstacleColor: [ 0 0 1 ]
              plantMinRadius: 0.25
              plantMaxRadius: 0.75
          plantEnergyDensity: 4
           decompositionRate: 0.01
              growthSubsteps: 4
         visionWidthToLength: 20
         healthToEnergyRatio: 0.05
            critterBaseSpeed: 1
             critterArmSpeed: .25
     combatBaselineIntensity: 0.5
           combatMinVelocity: 0.25
               auditionRange: 20
           reproductionRange: 3
reproductionRequestThreshold: 0.9
          baselineAgingSpeed: 0.001
   baselineEnergyConsumption: 0.0005
      motorEnergyConsumption: 0.00025
        armEnergyConsumption: 0.000125
     neuronEnergyConsumption: 5e-06
       axonEnergyConsumption: 1e-07
    baselineRegenerationRate: 0
       baselineGametesGrowth: 0
        energyAbsorptionRate: 0
              b2FixedBodyCOM: true
              b2VelocityIter: 8
              b2PositionIter: 3
              ticksPerSecond: 25
               secondsPerDay: 100
                 daysPerYear: 1000
            soundAttenuation: 0.1
             screwTheEntropy: true
         ssgaMinPopSizeRatio: 1
        ssgaArchiveSizeRatio: 0
     ssgaMutationProbability: 0
     ssgaMaxGenerationalSpan: 5

==========================================================
