==========================================================
======================= Simulation =======================
==========================================================

               configCritter: ./configs/Critter.config
           configEnvironment: ./configs/Environment.config
             configPhylogeny: ./configs/PTree.config
                     logFile: "stats.dat"
               logStatsEvery: 100
                   verbosity: 0
                  emptyColor: [ 1 1 1 ]
               obstacleColor: [ 0 0 0 ]
              plantMinRadius: 0.25
              plantMaxRadius: 0.75
          plantEnergyDensity: 4
           decompositionRate: 0.01
              growthSubsteps: 4
         healthToEnergyRatio: 0.05
            critterBaseSpeed: 1
     combatBaselineIntensity: 0.1
           combatMinVelocity: 1
           reproductionRange: 3
reproductionRequestThreshold: 0.9
          baselineAgingSpeed: 0.001
   baselineEnergyConsumption: 0.0005
    baselineRegenerationRate: 0.01
       baselineGametesGrowth: 0.001
      motorEnergyConsumption: 0.00025
        energyAbsorptionRate: 0.025
              b2FixedBodyCOM: true
              b2VelocityIter: 8
              b2PositionIter: 3
              ticksPerSecond: 10
               secondsPerDay: 100
                 daysPerYear: 1000
             screwTheEntropy: true
         ssgaMinPopSizeRatio: 1
        ssgaArchiveSizeRatio: 0
     ssgaMutationProbability: 0
     ssgaMaxGenerationalSpan: 5

==========================================================
