========================================
================ Vision ================
========================================

    angleBodyBounds: (0 0.785398 0.785398 1.5708 0.01)
angleRelativeBounds: (-1.5708 0 0 1.5708 0.01)
        widthBounds: (0.0523599 1.5708 1.5708 2.0944 0.01)
    precisionBounds: (0 1 1 5 0.01)
      mutationRates: map(std::string, float) {
        "angleBody": 0.25
    "angleRelative": 0.25
        "precision": 0.25
            "width": 0.25
}
    distanceWeights: map(std::string, float) {
        "angleBody": 1
    "angleRelative": 1
        "precision": 1
            "width": 1
}

========================================
