=========================================
============= Visualisation =============
=========================================

       configESHNGui: ESHNGui.config
    configSimulation: Simulation.config
            viewZoom: 100
        opaqueBodies: true
      drawInnerEdges: false
          drawVision: 2
        drawAudition: false
    drawReproduction: false
          renderType: Regular
          animateANN: true
  brainDeadSelection: Set
          showFights: 2
            showGrid: true
 selectionZoomFactor: 8
       substepsSpeed: 1
               trace: -1
           ghostMode: false
   drawFightingDebug: 5
showCollisionObjects: 0
         b2DebugDraw: false

=========================================
